
/mypass/.vs
/mypass/.vs
*.json
mypass/.vs/mypass/v17/.suo
mypass/.vs/mypass/v17/DocumentLayout.json
mypass/bin/Debug/mypass.exe
mypass/bin/Debug/mypass.pdb
mypass/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
mypass/obj/Debug/mypass.csproj.CoreCompileInputs.cache
mypass/obj/Debug/mypass.csproj.FileListAbsolute.txt
mypass/obj/Debug/mypass.csproj.GenerateResource.cache
mypass/obj/Debug/mypass.exe
mypass/obj/Debug/mypass.g.resources
mypass/obj/Debug/mypass.pdb
mypass/obj/Debug/mypass_MarkupCompile.cache
mypass/obj/Debug/mypass_MarkupCompile.lref
mypass/obj/Debug/View/PassGen.baml
mypass/obj/Debug/View/PassGen.g.cs
mypass/obj/Debug/View/PassGen.g.i.cs
mypass/obj/Debug/View/Styles/Button.baml
mypass/obj/Debug/View/Styles/Text.baml
mypass/obj/Debug/View/PassGen.baml
mypass/obj/Debug/View/PassCheck.baml
mypass/obj/Debug/View/Nofitications.baml
mypass/obj/Debug/View/MainMenu.baml
mypass/obj/Debug/View/Emails.baml
mypass/obj/Debug/View/Cards.baml
mypass/obj/Debug/View/AllPasses.baml
mypass/obj/Debug/View/Accounts.baml
mypass/obj/Debug/Utilities/DataTemplate.baml
mypass/obj/Debug/mypass_MarkupCompile.cache
mypass/obj/Debug/MainWindow.baml
mypass/obj/Debug/App.baml
mypass/.vs/mypass/v17/.suo
mypass/bin/Debug/mypass.exe
mypass/obj/Debug/mypass.exe
mypass/obj/Debug/mypass.g.resources
mypass/obj/Debug/View/Styles/Button.baml
